input {
    height: 8rem;
    font-size: 70px !important;
}

body {
    font-weight: bold;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(var(--bs-warning-rgb), 0.5), rgba(var(--bs-dark-rgb), 0.5));
}

i {
    -webkit-text-stroke: 0.5px;
}


.calculator-btns {
    height: 70px
}

.form-control::placeholder {
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.container {
    width: 85%;
    }

@media (min-width: 576px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 25%;
    }
}